/* --offwhite-color: #c5cccb; 
  BLUE #adc4ed
  BODY-GREY:#e0e3e8
  PINK #ecc4dc
  BLACK #1c1b20
  DARK-WITE #eaeef1
  LIGHT WHIE #ffffff
    --dark-color BORDO : #502424
  */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400");
:root {
  --dark-color: #adc4ed;
  --darker-color: #000505;

  --offwhite-color: lavenderblush;
  --burnrose-col: rgb(158, 149, 158);
  --body-color: #ac9090;
  --body2: #eaeef1;
  --text-color2: #1c1b20;
  --card-color2: #ffffff;
  --grey2: #b6b8bd;
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --borderRadius: 0.25rem;
  --headingFont: "Inconsolata", monospace;
}
/* .act-link{
  color: rgb(110, 5, 5);
  font-weight: 600;
  background-color: royalblue;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: var(--body2);
}

img {
  width: 210px;
  height: 295px;
  object-fit: cover;
}

/* Utilts */
.container {
  max-width: 1170px;
  margin: auto;
}

.btn {
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  color: var(--offwhite-color);
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
}

.user_item {
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: var(--offwhite-color);
  margin: 50px;
  min-height: 100px;
}

/* //======================= */
input {
  width: 38%;
  margin-top: 30px;
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--offwhite-color);
  color: var(--text-color2);
  outline-width: 0ch;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
}

.btn-u,
select {
  padding: 3px 17px;
  border: 1px solid var(--dark-color);
  background: var(--offwhite-color);
  color: var(--text-color2);
  cursor: pointer;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.06);
}

.double-bor-btn {
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--text-color2);
  border: double 4px var(--grey2);
  background-color: var(--offwhite-color);
  border-radius: 3px;

  margin-left: 10px;
}

.double-bor-btn:hover {
  background-color: var(--burnrose-col);
}

.butt-lightback {
  border: double 4px var(--dark-color);
  background-color: var(--offwhite-color);
  color: var(--text-color2);
}

.cab-h {
  margin: 0;
  margin-bottom: 0.75rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  font-size: 28px;
  text-transform: capitalize;
}

form {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
  background: white;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
