
.container {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin: 1rem auto;
}

.films_list {
  text-align: left;
  width: 700px;
  margin: auto;
  list-style: none;
padding: 0;
}
