
.user_item{
  padding: 10px 30px;
  background: linear-gradient(to left, #c5cccb 0%, white, #c5cccb);
  border-bottom: 1px solid grey;
  color: black;
  font-size: 15px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
  margin-bottom: 15px;

}
.user_email{
  font-size: 24px;
  font-style: italic;
  font-weight: bold;

}

.fav_item{
 margin: 18px 20px;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 20px;

  margin-bottom: 5px;
  list-style: none;
  font-family: cursive
}
.star{
  color:  	#FFD700;
  margin-right: 7px;
}

.add_button{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  margin:10px 0;
}
