.modal {
  position: relative;
  top: 100px;
  left: 70px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(73, 60, 67, 0.5);
}
.btn_modal {
  margin-top: 20px;
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--text-color2);
  border: double 4px var(--offwhite-color);
  background-color: rgb(177, 163, 175);
  border-radius: 3px;

  border: double 4px var(--dark-color);
  background-color: var(--offwhite-color);

  font-size: 16px;
}

.closeb {
  padding: 0.2em 0.5em;
  text-decoration: none;
  color: var(--text-color2);
  border: double 4px var(--grey2);
  background-color: var(--offwhite-color);
  border-radius: 3px;
  margin-bottom: 1.5rem;
}
